.modal {

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: rgba(255, 255, 255, 0.8);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
  }
  
  .modal:target {
    opacity: 2;
    pointer-events: auto;
  
  }
  
  .modal>div {
  
    margin-left: 30%;
    margin-block: 20px 20px;
    margin-inline-end: 70px;
  
    padding: 20px;
    position: absolute;
    background: #4d4f52;
    font-size: 20px;
  }