/*definições do corpo da página */
body {
  overflow: hidden;
  background-image: url(../img/background.jpg);
  
}

.c1 {
  border: 1px solid yellow;
}

.c-img {
  padding: 0px;
}

.img {
  width: 300px;
}

.prevT {
  /* border: 1px solid orange;*/
  padding-top: 30px;
}

.mercado {
  /* border: 1px solid orange;*/
  padding-top: 20px;
}

.l3 {
  margin-top: 20px;
  background-color: black;
  border-color: red;
  min-height: 300px;
}

.logo {
  width: 300px;
  margin-top: 20px;
}

.l2 {
  padding-top: 20px;
  padding-bottom: 20px;
}

@media screen and (max-width: 600px) {

  section,
  aside {
    width: 100%;
    padding: 0%;
  }
}

/*--------------------------------------formulario de login Natanael----------------------------------------------------------------------------*/
.open-button {
  background-color: green;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  /*opacity: 0.2;*/
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: absolute;

  top: 40%;
  /*top: 39%;*/
  left: 33.5%;
  transform: translate(-50%, -50%);
  bottom: 0;
  right: 15px;
  border: 3px snow #1b0d0d;
  z-index: 10s;


}

/* Add styles to the form container */
.form-container {
  max-width: 250px;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;

}

/* Full-width input fields */
.form-container input[type=text],
.form-container input[type=password] {
  color: #000000;
  background-color: #ffffff;
  border-bottom-style: none;
  border-left-style: none;
  border-right-style: none;
  border-top-style: none;
  border-color: #720200;
  border-radius: 8px;
  border-width: 0px;
  font-family: Raleway, sans-serif;
  font-size: 16px;
  box-shadow: inset 0px 2px 3px #ddd;
  -webkit-box-shadow: inset 0px 2px 3px #ffffff;

}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus,
.form-container input[type=password]:focus {
  background-color: #ffffff;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: rgb(68, 95, 247);
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0, 8;


}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: darkgoldenrod;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
  opacity: 0.8;
}

* {
  padding: 0px;
  margin: 0px;
}

/*fim estilo do formulario-------------------------------------------------------------------------------------------------/*

  formulario lista de apiarios*/

.coluna-itens {
  background-color: white;
  ;
}

/*modal natanael-------------------------------------------------------------------------------------------------------------*/

.modal {

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: rgba(255, 255, 255, 0.8);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.modal:target {
  opacity: 2;
  pointer-events: auto;

}

.modal>div {

  margin-left: 30%;
  margin-block: 20px 20px;
  margin-inline-end: 70px;

  padding: 20px;
  position: absolute;
  background: #4d4f52;
  font-size: 20px;
}

/*fim modal natanael--------------------------------------*/

@media screen {}