/*definições do corpo da página */
body {
overflow: hidden;
background-image: url(../img/background.jpg);
padding: 0px;
/*background-color: rgb(4, 255, 0);*/
/*tela grande é verde*/
/*}*/
/*.row{
  border:3px solid orange;
*/}

.cont1{
  border:1px solid red;
}
.c1{
  
  border:1px solid red;
}
.l2c1{
  border:1px solid red;
}
/*.tempo {
  padding: 2;
  position: absolute;
  top: 60%;
  left: 10%;
  width: 80px;
  }
  .tempo{max-width: 1080px;
  /* Máximo da largura da imagem */
  /*width: 100%;
  max-height: 700px;
  /* Máximo da altura da imagem */
 /* min-height: auto;
  /* Mínimo da altura, por padrão “auto” */
  /*background-size: 100%;
  background-repeat: no-repeat;



  display: block;
  width: auto;
  margin: 0;

}

:root {
  --cor1-fundo: rgb(0, 0, 0);
  --cor1-hover: rgb(0, 115, 87);
  --cor1-primaria: rgb(255, 255, 255);

} */

.dp-menu{
  overflow:hidden;
}
.dp-menu ul {
  list-style-type: none;
  padding: 0;
  overflow:hidden;
}
.dp-menu ul {
background-color:grey;
width:400px; position:fixed;
}
.dp-menu ul li {
  display: inline;
  position: relative;
  color:white;
  
}
.dp-menu ul li a {
  color: var(--cor1-primaria);
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  font-style: arial;
  font-size: 18px;
}
.dp-menu ul li a:hover {
  background-color: var(--cor1-hover);
}

/*sub menu*/
.dp-menu ul ul {
  display: none;
  left: 0;
  position: absolute;
}
.dp-menu ul li:hover ul {
  display: block;

}

.dp-menu ul ul {
  display: 150px;

}

.dp-menu ul ul li a {
  display: block;
}
/*
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
/*.form-popup {
  display:none;
  position: absolute;
  top: 40%;
  left: 40%;
  transform: translate(-50%, -50%);
  bottom: 0;
  right: 15px;
  border: 3px snow #1b0d0d;
  z-index: 10s;

}
*/
img {

  
  max-width:100%;
	height:auto;
  
  top: 3%;
  left: 5%;
  width: 400px;
  height: auto;
  text-align: center;
  /*max-width: 1080px;*/
  /* Máximo da largura da imagem */
  /*width: 100%;
  max-height: 700px;
  /* Máximo da altura da imagem */
  /*min-height: auto;
  /* Mínimo da altura, por padrão “auto” */
  /*background-size: 100%;
  background-repeat: no-repeat;
}

.l {

  align-items: flex-end
}

/* Add styles to the form container */
/*.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: rgb(255, 255, 255);

}

/* Full-width input fields */
/*.form-container input[type=text],
.form-container input[type=password] {
  color: #000000;
  background-color: #ffffff;
  border-bottom-style: none;
  border-left-style: none;
  border-right-style: none;
  border-top-style: none;
  border-color: #720200;
  border-radius: 16px;
  border-width: 0px;
  font-family: Raleway, sans-serif;
  font-size: 16px;
  box-shadow: inset 0px 2px 3px #ddd;
  -webkit-box-shadow: inset 0px 2px 3px #ddd;

}

/* When the inputs get focus, do something */
/*.form-container input[type=text]:focus,
.form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
/*.form-container .btn {
  background-color: rgb(138, 85, 0);
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;


}

/* Add a red background color to the cancel button */
/*.form-container .cancel {
  background-color: rgb(185, 10, 10);
}

/* Add some hover effects to buttons */
/*.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}

* {
  padding: 0px;
  margin: 0px;
}

html {
  /* 1 – Geral */
  /*height: 100%;
}

.content,
body {
  /* 2 – Interna contendo conteúdo/footer */
 /* min-height: 100%;
  position: relative;
}

footer {
  /* 3 – Footer */
 /* width: 100%;
  bottom: 0;
  position: fixed;
  background-color: #000000;

}

footer a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.cotacao {
  position: absolute;
  top: 60%;
  left: 40%;
  width: 580px;
  
  max-width: 1080px;
   Máximo da largura da imagem 
  width: 100%;
  max-height: 700px;
   Máximo da altura da imagem 
  min-height: auto;
   Mínimo da altura, por padrão “auto” 
  background-size: 100%;
  
  
  
  
  right: 100px;
}
/*
/*@media screen and (max-width: 768px) {

  body {
    background-image: url(../img/background.jpg);
    /*background-color: rgb(24, 178, 255);*/
    
    /*tela grande é azul*/
  /*}
}

/*@media screen and (max-width: 600px) {

  tela meida é azul
  body {
   background-color: rgb(255, 51, 24);
    tela pequena é azul
  }
}

@media screen and (max-width: 412px) {

  /*tela meia é azul*/
  /*body {
   background-color: rgb(255, 51, 24);
    /*tela pequena é azul
  }
  .dp-menu ul {
    width:100%;
  }
}
@media screen and (max-width: 768px) {

  section,
  aside {
    width: 100%;
    padding: 0%;
  }
}
/*