body {


  background-image: url(../img/background.jpg)
}

/*tela grande é verde*/
/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {}


.tempo {

  position: fixed;
  top: 60%;
  left: 4%;
  width: 50%;

  max-width: 180px;
  /* Máximo da largura da imagem */
  width: 100%;
  max-height: 150px;
  /* Máximo da altura da imagem */
  min-height: auto;

  /* Mínimo da altura, por padrão “auto” */


}


img {
  max-width: 100%;
  height: auto;
  position: absolute;
  top: 18%;
  left: 20%;
  width: 720px;
  max-width: 580px;
  /* Máximo da largura da imagem */

  max-height: 750px;
  /* Máximo da altura da imagem */

  /* Mínimo da altura, por padrão “auto” */
  background-size: 100%;
  background-repeat: no-repeat;


}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: center;
  bottom: 23px;
  right: 8px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 1px;
  background-color: rgb(146, 146, 146);
}

/* Full-width input fields */
.form-container input[type=text],
.form-container input[type=password] {
  width: 100%;
  padding: 1px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus,
.form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}


footer {
  /* 3 – Footer */
  width: 100%;
  bottom: 0;
  position: fixed;
  background-color: #000000;
  height: 10%;

}

footer a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.cotacao {
  position: absolute;
  top: 60%;
  left: 40%;
  width: 580px;

  max-width: 1080px;
  /* Máximo da largura da imagem */
  width: 100%;
  max-height: 700px;
  /* Máximo da altura da imagem */
  min-height: auto;
  /* Mínimo da altura, por padrão “auto” */
  background-size: 100%;




  right: 100px;
}

.navBar {
  overflow: hidden;
  width: 100%;
  position: fixed;
  min-width: 100%;
  z-index: 70;
  background: #000000;
  height: 10%;
}

.logo {
  display: inline-block;



}

.wrapper {
  margin: 0px auto;
  max-width: 100%;
  padding: 0 2%;

}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  min-width: 40%;
}

nav ul a {
  color: #FFF;
  text-decoration: none;
  transition: all 0.5s ease;
}

nav ul a:hover {
  color: rgb(240, 205, 52);
}

nav li {

  display: inline-block;
  padding: 6px 17px;
  font-size: 20px;
  font-family: 'Brandon Grotesque';
  font-weight: normal;
  font-style: normal;
}

nav ul li:last-child a {
  padding: 6px 17px;
  border: 2px solid;
  border-radius: 5px;
  color: rgb(206, 205, 205);
  ;
}

#menu-icon {
  display: none;
  /* hide menu icon initially */
}


nav ul li:last-child a:hover {
  color: rgb(240, 205, 52);
}

nav #menu-toggle {
  display: none;
}

nav .label-toggle {
  display: none;
}

nav .wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  nav nav ul a {
    color: #FFF;
  }

  nav ul {
    background-color: #231f00;
    display: block;
    height: 0;
    list-style-type: none;
    opacity: 0;
    text-align: center;
    transition: all 1s ease;
    width: 100%;
    visibility: hidden;

  }

  nav li {
    color: #53354A;
    display: block;
    font-size: 1.5em;
    padding: 1em 0;
    text-align: center;
  }

  nav #menu-toggle:checked~ul {
    opacity: 1;
    height: 100vh;
    visibility: visible;
    background: #906a01;

  }

  nav .label-toggle {
    background: linear-gradient(to bottom, #FFF 0%, #FFF 20%, transparent 20%, transparent 40%, #FFF 40%, #FFF 60%, transparent 60%, transparent 80%, #FFF 80%, #FFF 100%);
    cursor: pointer;
    display: block;
    float: right;
    height: 25px;
    margin-top: 2em;
    margin-right: 2em;
    width: 35px;
  }

  nav .wrapper {
    display: block;

  }
}

.modal {

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: rgba(255, 255, 255, 0.8);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.modal:target {
  opacity: 2;
  pointer-events: auto;

}

.modal>div {

  margin-left: 30%;
  margin-block: 20px 20px;
  margin-inline-end: 70px;

  padding: 0px;
  position: absolute;
  background: #4d4f52;
  font-size: 20px;




}

.fechar {
  position: absolute;
  width: 40px;
  right: 420px;
  top: 10px;
  text-align: center;
  line-height: 30px;
  margin-top: 5px;
  background: #ff4545;
  border-radius: 50%;
  font-size: 16px;
  color: #8d0000;
}

/* CSS reset */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}




.formulario {
  position: fixed;
  left: 60%;
  top: 30%;

  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  margin: auto;
  background-color: #48463b;


  padding: 15px;
}

.link {
  color: #ffffff;
}

.link a {
  color: #ff0000;
}



.login-button {
  display: flex;
  align-items: center;
}








.title {

  font-family: 'open_sansregular';
  font-size: 2em;
  color: #dfb127;
  margin-bottom: 30px;
  border-bottom: 1px #202020 solid;
  padding-bottom: 10px;

}

.input-container {

  width: 100%;
  height: 50px;
  position: relative;
  margin-top: 20px;

}

.input {

  width: 100%;
  background-color: #131313;
  border-radius: 8px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  font-family: 'open_sansregular';
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;

}

.legenda-p {

  background-color: transparent;
  border-radius: 8px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 100px;

}

.input:focus~.legenda-p,
.input:not(:placeholder-shown)~.legenda-p {
  transform: translateY(8px);
  background-color: #dfb127;
}

.label {

  color: #ffffff;
  font-family: 'open_sansregular';
  left: 15px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;

}

.input:focus~.label,
.input:not(:placeholder-shown)~.label {
  transform: translateY(-30px) translateX(10px) scale(1.20);
}

.input:not(:placeholder-shown)~.label {
  color: #ffffff;
}

.input:focus~.label {}

.btn {

  width: 100%;
  background-color: #dfb127;
  border-radius: 20px;
  border: 0;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-size: 1.2em;
  font-family: 'open_sansregular';
  height: 50px;
  margin-top: 20px;
  outline: 0;
  text-align: center;
  transition: 0.4s;

}

.btn:hover {

  background-color: #b78900;
  color: #eae3e3;

}

@media screen and (max-width: 1330px) {
  .formulario {}

  .formulario {
    width: 10%;

  }

  .formulario {
    width: 10%;

  }
}

@media screen and (max-width: 1064px) {
  .formulario {
    flex-direction: column;
    display: flexbox;
    justify-content: center;
    align-items: center;
    width: 60%;
    right: 90%;
    top: 40%;
    left: 30%;
    background-repeat: no-repeat;


  }
}

/* caixa da localização  */


.card {
  
  
  border-radius: 5px;
  box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
  padding: 160px;

  background: #adadad ;
  margin: auto;
  margin-top: 2%;
  width: 800px;


  transition: all 0.3s ease-out;
}

.card:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.card p {

  color: #ffffff;
  font-size: 16px;
}


.image {
  float: right;
  max-width: 4px;
  max-height: 64px;
}
.card h2{
  background-color: #04AA6D;
  text-align: center;
}
.card h3{
  background-color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
}

.blue {
  border-left: 3px solid #4895ff;
}

.green {
  
  border-left: 3px solid #3bb54a;
}

.red {
  border-left: 3px solid #b3404a;
}

.formulario{
  border-radius:15px;
  margin-left: 40px;
}